.wrapper{
    width: 60%;
    margin: 0 auto;
    .form{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        input{
            margin-bottom: 10px;
        }
        img{
            width: auto;
            margin: 10px;
        }
    }
}